node_modules/
dist/
.hbuilderx/
.idea/
.vscode/
.DS_Store
Thumbs.db

coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env.local
.env.*.local

desktop/node_modules/
desktop/dist/
